{% extends 'layout.html' %}

{% block content %}
<div>

    
    <center>
        <h1>Create a workspace</h1>
        <br><br>
        <h24>Available Repositories - </h4>
            <br><br> 
            <ul>
                <li>hashicat-aws</li>
                <li>terraform-gcp-gke</li>
            </ul>
            <hr>
            <form action="/create" method="POST">New Workspace Name : <input name="workspaceName"><br> Github Repository Name : <input name="repository"><input type="submit" value="Create Workspace - Name"></form>
        </center>

</div>
{% endblock %}